<h1>Edit a landmark</h1>

<form action="/landmarks/<%=@landmark.id %>" method="POST">
  <label for="landmark_name">Name:</label>
  <input type="text" name="landmark[name]" id="name" value="<%=@landmark.name%>"></input>
  <label for="landmark_year_completed">Year Completed:</label>
  <input type="text" name="landmark[year_completed]" id="year_completed" value="<%=@landmark.year_completed%>"></input>
  <button type="submit" name="" value="">Edit Landmark</button>
  <br></br>
</form>
